<h1>About</h1>
<p>Spaced Repetition is a study app. The idea is based on a learning technique that incorporates increasing intervals of time between subsequent review of previously learned material in order to exploit the psychological spacing effect.</p>

<h2>TEAM + initial focus-area assignments:</h2>
<ul>
  <li>Edna Neal — Slack = edna — GitHub = ednas</li>
  <ul>
    <li>MySQL — database design</li>
  </ul>
  <li>Pedro Sivero — Slack = psivero — GitHub = codevelopit</li>
  <ul>
    <li>wireframes, design, helping on back-end</li>
  </ul>
  <li>John Dispennette — Slack = brother_buck — GitHub = BrotherBuck</li>
  <ul>
    <li>HTML, bootstrap scaffolding</li>
  </ul>
  <li>Ben Griffith (team lead) — GitHub/Slack = BFGriffith</li>
  <ul>
    <li>node.js, Express, Handlebars</li>
  </ul>
</ul>
