<div id="wrapper">

  <!-- SIDEBAR -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/">Spaced Repetition</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/subjects">My SUBJECTS</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <!-- All page content must be within the page content wrapper -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <button href="#menu-toggle" type="button" class="btn btn-info spacedButton" id="menu-toggle">
            <span class="hamburger_menu_toggle" aria-hidden="true"><img src="./images/folder_brain.png" alt="navigation sidebar toggle" height="50px" width="50px"></span>
          </button>
          <h1>About “Spaced Repetition”</h1>
          <p>Spaced Repetition is a flashcard-based study application. The concept and rationale is based on a learning technique that incorporates increasing intervals of time between subsequent reviews of previously learned material in order to exploit the psychological spacing effect.</p>
          <p>Alternative terms for this psychological/mnemonic concept include spaced rehearsal, expanding rehearsal, graduated intervals, repetition spacing, repetition scheduling, spaced retrieval and expanded retrieval.</p>
          <h2>Pimsleur’s graduated-interval recall:</h2>
          <p>Graduated-interval recall is a type of spaced repetition published by Paul Pimsleur in 1967. It has been used extensively in the Pimsleur “language learning system” and is particularly suited to programmed audio instruction due to the very short times (measured in seconds or minutes) between the first few repetitions, as compared to other forms of spaced repetition (which may not require such precise timings).</p>
          <p>Anyway, suggested intervals published in Pimsleur’s paper were: 5 seconds, 25 seconds, 2 minutes, 10 minutes, 1 hour, 5 hours, 1 day, 5 days, 25 days, 4 months, and 2 years.</p>
          <h2>The Forgetting Curve:</h2>
          <img src="./images/forgetting_curve.png" alt="forgetting curve" height="400px" width="auto">
          <h2>Spaced Repetition visualized:</h2>
          <img src="./images/spaced_repetition.png" alt="spaced repetition" height="400px" width="auto">
          <h2>TEAM + initial focus-area assignments:</h2>
          <ul>
            <li><a href="https://github.com/ednas" target="_blank">Edna Neal</b></a></li>
            <ul>
              <li>MySQL — database design, styles</li>
            </ul>
            <li><a href="https://github.com/codevelopit" target="_blank">Pedro Sivero</b></a></li>
            <ul>
              <li>wireframes, design, helping on back-end</li>
            </ul>
            <li><a href="https://github.com/BrotherBuck" target="_blank">John Dispennette</b></a></li>
            <ul>
              <li>HTML, bootstrap scaffolding</li>
            </ul>
            <li><a href="https://bfgriffith.github.io/" target="_blank"><b>Ben Griffith</b></a> (team lead)</li>
            <ul>
              <li>node.js, Express, Handlebars, styles</li>
            </ul>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- END of entire page wrapper -->
</div>

<!-- move to correct folder -->
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  });
</script>
