<div id="wrapper">

  <!-- SIDEBAR -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/"><b>Spaced Repetition</b></a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/myinfo">My Info</a>
      </li>
      <li>
        <a href="/decks">My Decks</a>
      </li>
      <li>
        <a href="/adddeck">Add Decks</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <button href="#menu-toggle" type="button" class="btn btn-info spacedButton" id="menu-toggle">
            <span class="hamburger_menu_toggle" aria-hidden="true"><img src="./images/folder_brain.png" alt="navigation sidebar toggle" height="50px" width="50px"></span>
          </button>
          <br>
          <h1>add a new CARD to deck:</h1>
          <form class="cardCreation">
            <fieldset class="form-group">
              <label for="cardTitle">card label</label>
              <input type="text" class="form-control" id="cardTitle" placeholder="card title?">
            </fieldset>
            <fieldset class="form-group">
              <label for="cardFront">question or prompt:</label>
              <textarea class="form-control" id="cardFront" rows="3"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <label for="cardBack">answer:</label>
              <textarea class="form-control" id="cardBack" rows="5"></textarea>
            </fieldset>
            <button type="submit" class="btn btn-info spacedButton">create CARD</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- End of entire page wrapper -->
</div>

<!-- move to correct folder -->
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  });
</script>
