<form class="cardCreation">
  <fieldset class="form-group">
    <label for="cardTitle">card label</label>
    <input type="text" class="form-control" id="cardTitle" placeholder="card title?">
  </fieldset>
  <fieldset class="form-group">
    <label for="cardFront">question or prompt:</label>
    <textarea class="form-control" id="cardFront" rows="3"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="cardBack">answer:</label>
    <textarea class="form-control" id="cardBack" rows="5"></textarea>
  </fieldset>
  <button type="submit" class="btn btn-primary">create CARD</button>
</form>
