<div id="wrapper">

  <!-- SIDEBAR -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">Spaced Repetition</a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">My Info</a>
      </li>
      <li>
        <a href="#">My subjects</a>
      </li>
      <li>
        <a href="#">Test</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Test</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <!-- All page content must be within the page content wrapper -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <button href="#menu-toggle" type="button" class="btn btn-default" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
          <h1>About</h1>
          <p>Spaced Repetition is a study app. The idea is based on a learning technique that incorporates increasing intervals of time between subsequent review of previously learned material in order to exploit the psychological spacing effect.</p>
          <h2>The Forgetting Curve</h2>
          <img src="../assets/images/forgetting_curve.png.gif" alt="forgetting curve" height="200px" width="auto">
          <h2>Spaced Repetition</h2>
          <img src="../assets/images/spaced_repetition.gif" alt="spaced repetition" height="200px" width="auto">
          <h2>TEAM + initial focus-area assignments:</h2>
          <ul>
            <li>Edna Neal — Slack = edna — GitHub = ednas</li>
            <ul>
              <li>MySQL — database design</li>
            </ul>
            <li>Pedro Sivero — Slack = psivero — GitHub = codevelopit</li>
            <ul>
              <li>wireframes, design, helping on back-end</li>
            </ul>
            <li>John Dispennette — Slack = brother_buck — GitHub = BrotherBuck</li>
            <ul>
              <li>HTML, bootstrap scaffolding</li>
            </ul>
            <li>Ben Griffith (team lead) — GitHub/Slack = BFGriffith</li>
            <ul>
              <li>node.js, Express, Handlebars</li>
            </ul>
          </ul>

          <h1>Simple Sidebar</h1>
          <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the
            page content will be pushed off canvas.</p>
          <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- END entire page wrapper -->
</div>

<!-- move to correct folder -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
