<div class="row">
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://theinit.com/cv/images/deletecookies.jpg" alt="userStories">
      <div class="caption">
        <p><b>Card Deck {{{}}} </b><a href="#" class="btn btn-primary" role="button">Study This Deck <span class="badge">3</span></a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.stellman-greene.com/blog/wp-content/uploads/2007/12/what-the.png" alt="userStories">
      <div class="caption">
            <p>Card Deck {{{}}} <a href="#" class="btn btn-primary" role="button">Study This Deck <span class="badge">3</span></a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://imgs.xkcd.com/comics/pointers.png" alt="userStories">
      <div class="caption">
        <p>Card Deck {{{}}} <a href="#" class="btn btn-primary" role="button">Study This Deck <span class="badge">3</span></a></p>
      </div>
    </div>
  </div>  
</div>