<form class="deckCreation">
  <fieldset class="form-group">
    <label for="deckTitle">deck title:</label>
    <input type="text" class="form-control" id="deckTitle" placeholder="deck title?">
  </fieldset>
  <fieldset class="form-group">
    <label for="deckSubject">deck subject:</label>
    <input type="text" class="form-control" id="deckSubject" placeholder="deck subject?">
  </fieldset>
  <button type="submit" class="btn btn-primary">create DECK</button>
</form>
