<div id="wrapper">

  <!-- SIDEBAR -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/"><b>Spaced Repetition</b></a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/subjects">My SUBJECTS</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <!-- All page content must be within the page content wrapper -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <button href="#menu-toggle" type="button" class="btn btn-info spacedButton" id="menu-toggle">
            <span class="hamburger_menu_toggle" aria-hidden="true"><img src="./images/folder_brain.png" alt="navigation sidebar toggle" height="50px" width="50px"></span>
          </button><br>

          <div id="introJumbotron" class="jumbotron">
            <img src="./images/brain_gears.png" alt="brain gears image" height="auto" width="20%">
            <h1>Spaced Repetition</h1>
            <p>Welcome to Spaced Repetition — a flashcard-based study application. The idea is based on a learning technique that incorporates increasing intervals of time between subsequent reviews of previously learned material in order to exploit the psychological spacing effect.</p>
            <div>
              <a id="learnMoreAboutButton" class="btn btn-info spacedButton btn-lg" href="/about" role="button">LEARN MORE!</a>
              <a id="dashboardButton" class="btn btn-info spacedButton btn-lg" href="/dashboard" role="button">GO to DASHBOARD</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- END entire page wrapper -->
</div>

<!-- move to correct folder -->
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  });
</script>
