<div class="jumbotron">
  <h1>Spaced Repetition</h1>
  <p>Welcome, future brain hacker.</p>
  <form class="usersignup">
    <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" placeholder="First name">
    </fieldset>
    <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last name">
    </fieldset>
    <fieldset class="form-group">
      <label for="email">email:</label>
      <input type="text" class="form-control" id="email" placeholder="email">
    </fieldset>
    <fieldset class="form-group">
      <label for="password">password:</label>
      <input type="text" class="form-control" id="password" placeholder="password">
    </fieldset>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
