/*STYLES*/
* {
  font-family: 'Muli', sans-serif;
}
h1, h2, h3 {
  font-family: 'Rajdhani', sans-serif;
}
body {
  background-color: #c1c1c1;
}
li .active {
  background-color: #079FA3;
}
/* BUTTONS */
.spacedButton {
  background-color: #079FA3 !important;
  border-radius: 5px !important;
}
.spacedButton:hover {
  background-color: #008E8A !important;
}
/* landingPage */
#introJumbotron {
  background-color: #e2e2e2;
  margin-top: 20px;
}
#learnMoreAboutButton, #dashboardButton {
  background-color: #079FA3;
  border-radius: 5px;
}
#learnMoreAboutButton:hover, #dashboardButton:hover {
  background-color: #00837F;
  border-radius: 5px;
}
#dashboardCounters {
  margin-top: 20px;
}
/* SUBJECTS */
.subjectDisplay, .deckDisplay {
  margin-top: 20px;
  background-color: #079FA3;
}
/* DECKS */
.subjectCaption, .deckCaption {
  background-color: #e2e2e2 !important;
  border-radius: 5px !important;
}
/* studyView */
#studyViewProgress {
  margin-top: 20px;
}
#cardNavigation {
  text-align: center;
}
#studyViewBreadcrumbs {
  text-align: center;
}
/* Bootstrap */
.progress {
  background-color: red;
}
.btn {
  border-radius: 0px;
}
#carousel-cards {
  background-color: red;
}
.thumbnail {
  border: 50px;
}
.caption {
  background-color: green;
}
