/*STYLES*/
* {
  font-family: 'Muli', sans-serif;
}
h1, h2, h3 {
  font-family: 'Rajdhani', sans-serif;
}
body {
  background-color: #c1c1c1;
}
li .active {
  background-color: #079fa3;
}
#learnMoreAboutButton {
  background-color: #079fa3;
  border-radius: 5px;
}
.progress {
  background-color: red;
}
.btn {
  border-radius: 0px;
}
#carousel-cards {
  background-color: red;
}
.thumbnail {
  border: 50px;
}
.caption {
  background-color: green;
}
