/*STYLES*/


body {

	background-image: url("dashboard/images/graphen2.jpg");
}


.progress {

	background-color: red;
}
.btn {
	border-radius: 0px;
}

#carousel-cards {
	background-color: red;
}

.thumbnail {
	border: 50px;
}

.caption {
	background-color: green;
}





#menu-toggle	{ visibility: hidden; 



}

@media only screen and (max-width: 640px)	{

	#menu-toggle	{ visibility: visible; 



}

}